<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Puppy !</h1>
      <form method="post" action="/puppy">
        <label>Enter your phrase:</label><br>
        <input type="string" name="name" value=""><br>
        <input type="string" name="breed" value=""><br>
        <input type="string" name="age" value=""><br>
        <input type="submit" value="submit">
      </form>
  </body>
</html>
